form{
    display: table;
    float: left;
    width: 1007px;  /* body1377-左右margin20-广告区本体280-左右padding30-广告区左边margin10-左右padding30 = 1007 */
    margin: 10px 0px 10px 10px;
    padding: 15px;
    height: 593.4px;
    background-color: rgb(255, 235, 205); 
}
div#tableContainer {
    border-spacing: 10px;
}
div#tableRow {
    display: table-row;
}
#tableRow>p, #tableRow>label, #tableRow>input{
    display: table-cell;
    font-size: 1.05em;
    padding: 10px;
    vertical-align: top;
}
.ad3,form{
    height: 595px;
}